@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-bg-color: #f5f5dc;
    --main-txt-color: #4e342e;
    --main-details: #e07a5f;
}

/* reset global */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* body color */
body {
    background-color: var(--main-bg-color);
}

/* format h1 */
h1 {
    font-size: 12vmin;
    color: var(--main-txt-color);
    font-weight: 700;
}

/* format h2 */
h2 {
    font-size: 8vmin;
    color: black;
}

/* format p */
p {
    font-size: 3vmin;
    color: black;
}

/* format icon */
i {
    font-size: 14vmin;
    color: var(--main-txt-color);
}

/* class icons */
.icons {
    display: flex;
    justify-content: space-evenly;
}

/* header */
#container_menu {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 60%;
    background-color: var(--main-details);
    padding: 10px 0px;
    border-radius: 40px;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 3vmin;
}

header a {
    text-decoration: none;
    color: white;
}

/* end header */

/* about */

#container_about {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

/* end about */

/* skills */

#container_skill {
    width: 80%;
    margin: 0 auto;
}

/* end skills */

/* projects */

#container_projects {
    width: 80%;
    margin: 0 auto;
}

/* end projects */

/* contacts */

#container_contact {
    width: 80%;
    margin: 0 auto;
}

#container_contact .icons {
    flex-direction: column;
    justify-content: space-between;
    gap: 2vmin;
}

#container_contact i {
    font-size: 5vmin;
    padding: 0px 5px;
}

#container_contact a {
    text-decoration: none;
    color: var(--main-details);
    font-size: 3vmin;
    font-weight: 700;
}

/* end contacts */

@media(max-width: 1000px) {
    header {
        width: 80%;
    }
}